%estiloparrafo {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    
}
%estilotitulo {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}