/* contacto */
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  10px;
}

.recuadro{
    height: 8vh ;
    width: 40vw;
}
.mensaje{
    height: 18vh;
    width: 40vw;
}
section {
    text-align: center;
    width: 100%;
}