.titulo-index {
    @extend %estilotitulo
}

.banner {
    width: 100%;
    background-size: cover;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* cards */
.color-card {
    background-color: rgba(0, 0, 255, 0.322);
}

.cards {
    display: flex;
    justify-content: space-between
}

.cards {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.header {
    overflow-x: hidden;
}

.altura {
    min-height: 80vh;
}

.nav-footer {
    display: flex;
    justify-content: center;


}

.navegador {
    display: flex;

    li {
        list-style: disc;
        margin: 0 20px
    }
        a{
            text-decoration: none;color: white;
        }
}


/* mediaquerys */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}